@page "/counter"
@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

<PageTitle>Registration</PageTitle>

<h1>Register New User</h1>

<EditForm Model=@registrationForm OnValidSubmit="FormSubmitted">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText @bind-Value=registrationForm.Email class="form-control" id="Email" />
        <ValidationMessage For="() => registrationForm.Email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <InputText type="password" @bind-Value=registrationForm.Password class="form-control" id="Password" />
        <ValidationMessage For="() => registrationForm.Password" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</EditForm>

@code {

    //https://learn.microsoft.com/en-us/aspnet/core/blazor/state-management?view=aspnetcore-9.0&pivots=server#handle-prerendering

    private RegistrationForm registrationForm = new RegistrationForm();


    async Task FormSubmitted()
    {
        
    }

    public class RegistrationForm
    {
        [Required]
        public string Email { get; set; }
        
        [Required]
        [DataType(DataType.Password)]
        public string Password { get; set; }
    }
}
