@page "/Home"
@inject AuthApiClient AuthAPI
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@rendermode InteractiveServer

<PageTitle>TimeSheet System</PageTitle>

<h1>TimeSheet System</h1>

<button class="btn btn-primary" @onclick="Logout">Logout</button>    

@code {
    async Task Logout()
    {
        var authJWTTokenProtected = await ProtectedSessionStore.GetAsync<string>("authJWTToken");
        var authJWTToken = authJWTTokenProtected.Value;

        if (!string.IsNullOrEmpty(authJWTToken))
        {
            var success = await AuthAPI.LogOut(authJWTToken);

            if (success)
            {
                NavigationManager.NavigateTo("/");
            }
        }
    }
}
